body{
  background-color: #333333;
}

h1{
  color: #bfff80;
  font-family: 'Abel', sans-serif;
  font-size: 55px;

}

.words{
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.words p{
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#bigdiv{
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 850px;
  font-family: 'Asap', sans-serif;

}

a {
  padding: 20px;
  color: #b3b3b3;
  text-decoration: none;
}

li a {
  color: navy;
  text-decoration: underline;
  padding: 0px;
  font-size: 20px;
}

ol {
  font-size: 20px;
}
.slider{
  background:none;
  border:none;
  margin:0;
  padding:0;
}

section{
  background-color: #cccccc;
  border: 3px solid grey;
  margin-right: 200px;
  margin-left: 200px;
}

 p{
  width: 700px;
  font-size: 20px;
}

h3{
  text-decoration: underline;
  font-weight: normal;
}
