body{
  background-color: #333333;
  color: white;
  font-size: 1.5em;
  font-family: Asap, sans-serif;
  margin-left: 70px;
}

h1{
  font-size: 50px;
  color: #bfff80;
  font-family: 'Abel', sans-serif;
}

#form_div {

}

input {
  min-height: 20px;
  min-width: 300px;
}

textarea {
  min-height: 50px;
  min-width: 800px;
}

#filter_div {
  border: 2px black solid;
  border-radius: 15px;
  margin-left: 100px;
  padding: 0px 10px;
  background-color: #bfff80;
  color: black;
}

#bigDiv {
  display: flex;
  flex-direction: row;
}

#thread_choice {
  font-size: 2em;
}

h2{
  color: #ffffff;
  max-width: 700px;
  font-size: 55px;
}


a {
  padding: 20px;
  color: #b3b3b3;
  text-decoration: none;
}

button {
  font-size: 1em;
}

#bigdiv{
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 700px;
  font-family: 'Asap', sans-serif;

}

#form_user_input {
  margin-left: 0px;
}
