body{
  background-color: #333333;
}

h1{
  font-size: 50px;
  text-align: left;
  color: #bfff80;
  font-family: 'Abel', sans-serif;
}

#bigdiv{
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.logo{
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
  font-size: 50px;
  padding-left: 2em;
}

h3{
  color:#8cff1a;
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 900px;
  font-family: 'Asap', sans-serif;

}

a {
  padding: 20px;
  color: #b3b3b3;
  text-decoration: none;
}

#maindescript{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  color:#b3b3b3;
  padding-left: 600px;
  margin-top: -200px;
  font-size: 25px;

}

h2{
  color: #ffffff;
  max-width: 500px;
}
